$white: #ffffff;
$light: #eeeeee;
$primary: #00BF9A;


// Delete the boilerplate CSS below when you are ready to dive in and customize your sites:
body { background-color: $light; }

.main-content {
  font-family: 'Karla', sans-serif;
  margin: 200px auto;
  padding: 20px;
  max-width: 500px;
  color: $white;
  background-color: $primary;

  .login-link {
    float: right;
    color: $white;
  }

  // Basic rich-text editor styles:
  h3 {
    font-size: 24px;
    margin-bottom: 12px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  strong { font-weight: bold; }
  em { font-style: italic; }
}
